[2018-01-29 17:04] jtbairdsr opened #1 "Composer package"
It would be totally awesome if this was available on spaces... We love your project and are using it internally but it would be totally awesome if this could be a composer dependency...

[2018-01-29 20:51] jtbairdsr commented on #1
I have wrapped the up in a composer package available as `jtbairdsr/spaces-api`.  If you would like to publish to composer so that we can more easily benefit from your expertise I would be happy to submit a PR with my changes and then take my composer package down... just let me know.

[2018-02-05 07:28] #1 closed

[2018-02-06 20:42] kpirbhai opened #2 "Composer install not working"
Can't install via composer. The package isn't found on packagist.

[2018-02-07 15:32] SociallyDev commented on #2
Hello!
It should work now.

[2018-02-07 15:32] #2 closed

[2018-02-17 22:39] GraninV opened #3 "No AWS class loaded"
Hi.
I am getting "No AWS class loaded". What could be a reason for that...? Thank you.

[2018-02-18 21:17] SociallyDev commented on #3
Hello!
That error occurs when an already installed AWS API SDK isn't available and the AWS SDK that comes pre-bundled with this wrapper isn't available either.
You should download the AWS folder as well if you're using a manual install (and check that the $non_composer_aws_lib var has the correct path set) or in case you're using composer it should download the SDK automatically but in case it did

[2018-02-18 21:19] #3 closed

[2018-03-15 15:09] hsleewis opened #4 "Bucket's Lifecycle Rules?"
Are you planning to add Bucket's Lifecycle Rules?

More info here: https://developers.digitalocean.com/documentation/spaces/#get-bucket-lifecycle

[2018-03-17 00:41] Agimovel opened #5 "Make a directory"
Hi, any way to create directory/subdirectory?

[2018-03-17 13:05] Agimovel opened #6 "SignatureDoesNotMatch"
Hello there. I'm openning this issue, but with already a solution that might help others.

When trying to connect to your space with:
`new SpacesConnect($key, $secret, $space_name, $region);`

It might return this error:

Just erase your space_name and will connect. Don't know why it throws this error but this solves the situation.

[2018-03-17 13:19] Agimovel commented on #6
Still having this issue when trying to upload a file:
`$space->UploadFile($path, $destination);`

[2018-03-17 14:22] SociallyDev commented on #6
Hello,
This issue occurs when you add a forward slash to the start of a path, it's an issue of the AWS SDK itself. I'll try to add a filter in the next update.

[2018-03-17 14:26] SociallyDev commented on #5
Hello,
The S3 architecture doesn't have the concept of folders. It simply uses the path. So, you can use the path as folder/file.ext, and then build custom code that explodes forward slashes and puts files in a folder like manner.

[2018-03-17 19:10] Agimovel commented on #6
My bad, thanks for your contribution.

[2018-03-17 19:10] #6 closed

[2018-03-22 14:47] #5 closed

[2018-03-23 19:17] jgannondo commented on #4
@hsleewis We do allow you to add lifecycle delete rules. Are you looking for something different? Please let me know.

[2018-03-23 22:14] nickjanus commented on #4
@jgannondo I think @hsleewis is referring to support for lifecycle rules in this api wrapper.

[2018-06-06 12:37] SociallyDev opened #7 "[Question] Would you prefer simpler functions?"
**I'm writing a newer version of this wrapper and I have an idea**, making functions simpler using a sort-of representational execution.

Idea:
`$space->File("hello.text")` would return the actual file contents.
`$space->File("hello.text")->Metadata()` would return the metadata (eg creation date).
`$space->File("hello.text")->MakePublic()` would make a file public.
<br></br>

I'm not entirely sure

[2018-06-06 14:17] SociallyDev opened #8 "[Roadmap] Update ideas"
Just leaving this here so that we have a sort of roadmap.
<br></br>

**Comment below if you have another awesome idea or suggestion!**

<br></br>

# (Huge) Update 1 - July/August
- [Simpler & representational functions](#7)
- Possibly use a more specialized core S3 library
- Simpler caching control
- Domain control functions (Assuming DO launches custom domains)
- [Bucket lifecycle rules](#4)
- Be

[2018-06-13 02:55] AndreyNazarchuk commented on #7
What about
[code]

or

[code]

to get contents?

[2018-06-13 03:00] SociallyDev commented on #7
@AndreyNazarchuk that's the plan right now.
Thinking about something even easier though.

<br />

To get contents:
[code]

[2018-06-13 04:21] SociallyDev commented on #8
Moved this to [projects](https://github.com/SociallyDev/Spaces-API/projects/1) for simpler tracking.

[2018-06-13 04:21] #8 closed

[2018-07-03 15:26] marvisais opened #10 "XAmzContentSHA256Mismatch"
Hi,

i try my best but i always get the error XAmzContentSHA256Mismatch.
I try to create a bucket with the a name i already use, and receive a 409 as expected.
So i know i can be authentifed and my setting are good.
What can cause this error: XAmzContentSHA256Mismatch?
[code]
thx

[2018-07-03 16:11] AndreyNazarchuk commented on #10
Is this what happens when you try to download?

[2018-07-03 19:05] AndreyNazarchuk commented on #10
@marvisais I need some information on how you made that error?

[2018-07-06 15:43] marvisais commented on #10
![image](https://user-images.githubusercontent.com/1869331/42387874-b9579ae6-8111-11e8-8469-22f3aef4e0a8.png)
Hi, i can do must of the action, but can create new Bucket

[2018-07-07 14:01] SociallyDev commented on #10
@marvisais It's probably related with the space name you're trying to use.
You should read these [guidelines](http://docs.rightscale.com/faq/clouds/aws/What_are_valid_S3_bucket_names.html).

Does the error still exist when you use a name such as `spacestestsuccess`?

[2018-07-10 15:24] marvisais commented on #10
Hi, thx for the reply, sorry for the late follow up.
I do the test (spacestestsuccess), and got the same result.
I also have a chat with DO people, and found nothing,
I also start a new Laravel setup, and have the same result :( First try was with a long term Apiato Base app.
I this with the SociallyDev/Spaces-API package and the aws/aws-sdk-php package, always same result.

I really appreciate th

[2018-07-10 16:04] SociallyDev commented on #10
@marvisais If the problem still exists with AWS's official package, it's not related with Spaces-API, as Spaces-API is essentially a wrapper on top of aws-sdk-php.
You should try raising an issue with AWS's package support team.
Just try this out first (probably not gonna work but worth a try), generate a new set of keys from the DO dashboard, and if that doesn't work, try creating a new team acco

[2018-07-11 15:40] marvisais commented on #10
Alright I will try this out and let you know. Thx for your time.

[2018-07-16 00:51] SociallyDev commented on #7
Started working on simpler functions!

[2018-07-16 00:51] #7 closed

[2018-07-18 16:41] marvisais commented on #10
Great, i will test this out!
I found my way to get a new Bucket using:
`$client = new S3Client([
            'version' => 'latest',
            'region'  => env('SPACES_REGION'),
            'endpoint' => env('SPACES_ENDPOINT'),
            'credentials' => [
                'key'    => env('SPACES_KEY'),
                'secret' => env('SPACES_SECRET'),
            ],
        ]);
        //

[2018-07-18 17:05] marvisais commented on #10
hmmm i try, but receive the same error, did i code that correctly?
![image](https://user-images.githubusercontent.com/1869331/42896537-3b226ab0-8a8b-11e8-8c2b-48af5f0565ab.png)

Result
![image](https://user-images.githubusercontent.com/1869331/42896548-48518d06-8a8b-11e8-90ef-4d2219acb082.png)

[2018-07-20 15:16] SociallyDev commented on #10
I'm currently unable to test this, please give me a week.

[2018-07-21 17:31] marvisais commented on #10
Thx i appreciate!

[2018-07-26 13:47] richellyitalo opened #11 "Any solution to connect from localhost?"
Any solution to connect from localhost?

[2018-07-26 13:52] SociallyDev commented on #11
@richellyitalo You can connect to a local S3 API by providing the appropriate host like:
<br />

[code]

If you meant connecting to Spaces from a local computer (Instead of a server), this wrapper shouldn't have any problem with that.
<br />
If this isn't the problem you're facing, can you please elaborate?
Thanks!

[2018-07-26 14:11] richellyitalo commented on #11
I was trying send file from localhost by Wampserver, but show me the error about not certificate (code 60):
** AWS HTTP error: cURL error 6: Could not resolve host: ----.nyc3.localhost (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)**

Only works after defined on php.ini the certified bellow.

[https://curl.haxx.se/ca/cacert.pem]https://curl.haxx.se/ca/cacert.pem

curl.cainfo = "path_to_ce

[2018-07-26 14:31] SociallyDev commented on #11
@richellyitalo Any secure wrapper/SDK will only send data through a secure encrypted connection (https), it seems like ----.nyc3.localhost does not send a valid SSL certificate.
<br />
The solution you've found should work for localhost testing, interfacing with the real S3 API shouldn't throw this problem. If you'd like to test your code without editing certificates, you can use a proxy such as [

[2018-07-26 14:44] richellyitalo commented on #11
Nice tip.
Thanks @SociallyDev

[2018-07-26 14:44] #11 closed

[2018-07-26 15:00] SociallyDev commented on #10
@marvisais I'm unable to reproduce the error after the update, can you give me temporary keys for your Spaces? Here's my [email](devangsrivastava.github.53076c@tryninja.io).
Also, are you sure you're using the updated version? Just make sure the [signature_version line](https://github.com/SociallyDev/Spaces-API/commit/9fb77c5f2fdf6f710ce63ca8c24923086d90e6a9) is in your spaces.php file.

[2018-07-31 05:01] SociallyDev commented on #10
Closing issue since no reply received

[2018-07-31 05:01] #10 closed

[2018-08-15 20:46] richellyitalo commented on #2
This can help
composer require sociallydev/spaces-api:master

[2018-10-04 11:01] yoneticic8482 opened #15 "Hello there is a problem"
"path File" does not accept any filename without english letters

sample
UploadFile success
$space->UploadFile("love.txt","public",$data);
$space->UploadFile("man.txt","public",$data);
$space->UploadFile("you.txt","public",$data);

-------------------------------------------------------------

UploadFile unsuccessful
$space->UploadFile("aşk.txt","public",$data);
$space->UploadFile("म.txt","public"

[2018-10-05 22:13] SociallyDev commented on #15
@yoneticic8482 Does this error persist even when you use the official AWS SDK?

[2018-11-01 02:07] jordanbaron opened #16 "Getting Metadata"
Is it possible to get metadata from a file?

[2018-11-07 14:28] saudkhan306 opened #17 "upload inside folder"
Hi,
Thanks for the great contribution!

I have an issue related to uploading in folder. I have created a directory **UPLOADS**, but when I use function
`$space->UploadFile('uploads/image.png', "private", 'my_file_name.png', 'image/png');`

that function does not upload file in folder "**UPLOADS**", rather get uploaded in main root directory.

Kindly help me out with this.

[2018-11-07 19:20] SociallyDev commented on #17
Hello,
To upload to a folder in Spaces, you should add that folder to the upload path like this:
[code]

[2018-11-07 19:20] #17 closed

[2018-11-08 11:10] saudkhan306 commented on #17
Thank you so much!

[2018-11-10 16:32] schmidtl4 commented on #2
README.md comment re: installing via composer should be modified to match @richellyitalo 's suggestion.

[2018-11-10 16:53] schmidtl4 opened #18 "listing for folder"
Is it possible with this package to get a listing of a particular folder vs. all objects in the Space?

[2018-11-10 16:59] schmidtl4 commented on #18
Not in README.md but through trial and error the answer is "yes", as follows:
`$files = $space->ListObjects("targetDirectory/")`
where targetDirectory is in the root of your space.  The trailing slash is essential otherwise, the search is looking for a file with the name "targetDirectory".
Also note that this can be extended to "targetDirectory/subDirectory/" etc.

[2018-11-23 05:07] SociallyDev commented on #18
Hello, sorry for the late response.
Yes, that is the correct method.

It isn't documented because the S3 standard doesn't have folders, they're just URI paths.
[Here's their explanation](https://docs.aws.amazon.com/AmazonS3/latest/user-guide/using-folders.html).

[2018-11-23 05:07] #18 closed

[2018-11-27 05:16] khashabawy commented on #16
What if i want metadata for multiple files in one query ?
is there any method at which i can pass an array ?

[2018-12-06 13:08] schmidtl4 opened #21 "Multi-part uploads"
Any plans to support multi-part uploads?  Apparently this is recommended for any file size > 500MB.

Thanks.

[2018-12-07 19:13] SociallyDev commented on #21
I'll add this feature in the next major release.

[2019-02-01 10:23] tonybahama opened #22 "Ability to upload directory as public"
hi!

We did not manage to upload a full directory and set all files to public in it in one run.

All uploaded files are private, and then we have to iterate and set them to public one by one. We have 1 million files, it takes 4-5 minutes per folder, we have 6-9000 folders.

Any idea? The S3 lib should be capable of doing this.

[2019-02-05 06:44] SociallyDev commented on #22
Hey, can you share the code you wrote for this?

[2019-02-05 07:09] tonybahama commented on #22
We did not manage to upload them yet. I just know it is possible with the amazon s3 SDK but your API does not pass this argument.

That is why I asked if you knew anything. We tried several times but had no luck so far.

[2019-02-10 04:04] softenggkumar opened #23 "$space->client is empty {}"
Hello,

I am new to DigitalOcean Space API integration, for some reason I am getting following error while accessing ListObjects() method.

**Code**
`$space = new SpacesConnect($accessKey, $secretKey, $spaceName, $region);
 $spaceList = $space->ListObjects();`

**Error Message**
`"message": "{\"error\":{\"message\":null,\"code\":null,\"type\":null,\"http_code\":null}}"
 "line": 506`

Note: $space-

[2019-02-13 03:07] SociallyDev commented on #23
Hey, looks like there's a problem with the region, can you check it?

[2019-02-13 03:19] SociallyDev commented on #22
Sorry for the delay.
It's possible to add a directory at once with public files.
This is an edge case though, so I'll just write the function for you.

First, create a space as normal, then:

[code]

[2019-02-13 06:54] tonybahama commented on #22
Have you tested this code?

[2019-02-13 09:40] SociallyDev commented on #22
Hey, sorry, I wrote it for an older AWS S3 SDK version.
I've edited my previous comment with code that should work with the latest SDK.

Please try it out and let me know.

[2019-02-13 15:29] kareemzok opened #24 "Upload directly without main path"
Hello, i m ondering is it possible to upload image using base64_6ecode function instead of having a path??
Such as the following:

[code]

[2019-02-14 18:39] #22 closed

[2019-02-14 18:42] SociallyDev commented on #24
Hey,
It should be possible already. Here's an example:

[code]

[2019-02-15 06:24] tonybahama commented on #22
It worked! Thank you!
It saved 4 minutes per product for us, 6000 products...

I recommend you put this into the source code as an option for others!

[2019-02-15 08:20] kareemzok commented on #24
Thank @SociallyDev  for your reply but what about the case of the image? we ca  pass the image in $content ?  then save it in the space of digital ocean?

[2019-02-16 05:09] softenggkumar commented on #23
I checked the regions, it is nyc3. Not sure for some reason I am getting the above mentioned error only when I am trying to upload file from my local environment but in server the same code I can able to upload the files without any issues.

Any suggestion to make is work in my local environment ?

[2019-02-18 08:19] SociallyDev commented on #24
Yes, that should work. You should also set the mime type like this:

[code]

Let me know if you face a problem!

[2019-02-18 08:25] kareemzok commented on #24
Thanks, It works !!

[2019-02-18 08:34] SociallyDev commented on #23
Hm, I've so far been unable to reproduce this error.
Maybe it's a network issue, does your local environment have access to the internet?

Otherwise, can you try directly using AWS-SDK to figure out if the error is with this wrapper?
Just try this code:

[code]

[2019-02-18 10:10] #24 closed

[2019-02-21 06:12] warely opened #25 "Unable to delete folder"
I’m running the ‘$space->DeleteObject($file_name);’ command to delete a folder (per documentation), and get a successful response, but the folder does not delete in the digitalocean spaces explorer GUI.

[2019-02-23 20:20] SociallyDev commented on #25
As far as I understand, folders don't really exist in the S3 standard, they're just prefixes to filenames.

A folder should disappear as long as all files that have it in its path are deleted.

[2019-02-27 23:36] #25 closed

[2019-02-27 23:36] #23 closed

[2019-04-01 22:07] CodeJunkieio commented on #21
When do we think that might be? I'm interested in using this but the lack of multi-part upload support is kind of a buzz kill

[2019-04-07 11:31] 6vl commented on #21
Help me upload to 1 folder
or move to 1 1 folder
thanks

[2019-04-17 08:18] Dibbyo456 opened #28 "Why uploads doesn't work when using absolute path?"
Hello,
I'm facing a issue. If I use this uploads works fine. ✌

[code]

But if I use this

[code]
or this

[code]

Then I get error like this:

```Fatal error: Uncaught SpacesAPIException: {"error":{"message":null,"code":"SignatureDoesNotMatch","type":"client","http_code":403}} in C:\wamp64\www\script\inc\vendor\sociallydev\spaces-api\spaces.php:506 Stack trace: #0 C:\wamp64\www\script\inc\vendor\

[2019-05-11 21:17] hbo003 opened #29 "Download directory of photo user from path"
You can download user images from the directory path by giving it the name of the image, the download success,  But how can I download the images file at one time for the entire user, if it was in a folder?

[2019-06-01 17:42] schmidtl4 opened #30 "Setting metadata"
Is there a way to set the metadata for a file?

[2019-06-04 20:40] SociallyDev commented on #29
Directories don't actually exist within the specification of S3 (What Spaces is based on). So you can build a new Space for each user and download the entire Space when you need to, or you can download each file individually.

[2019-06-04 20:40] #29 closed

[2019-06-04 20:43] SociallyDev commented on #30
Hello, there's no such way directly, you can call the underlying AWS client that does have that feature directly though, something like this:

[code]

[2019-06-04 20:43] #30 closed

[2019-06-04 20:45] SociallyDev commented on #28
I can't reproduce this error, can you check if [this line](https://github.com/SociallyDev/Spaces-API/blob/ad0726e41e7a3a10c367917421c7b327256a358e/spaces.php#L271) actually reads your file?

[2019-06-10 17:39] schmidtl4 commented on #21
Any update on the planned timing for a multi-part upload feature? Much appreciated.

[2019-07-03 23:05] #28 closed

[2019-07-08 13:19] TAINCER opened #32 "MakePublic() Error with symbols"
When the Key contains a symbol (In my case) like an @ (at) the functions returns an error (Exception).
Is there any workaround or does this needs a fix?

## Code:

[code]
---

## Exception:

[code]

[2019-07-12 20:57] CodeJunkieio commented on #32
@TAINCERcs I did some investigation and digging, I even found some of your bug reports on digitalocean and the aws repo. I've tried a few things with no luck. It appears it's a AWS problem see (https://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html)
Unfortunately this means that this issue cannot be solved in the library

[2019-07-18 01:01] consigliere23 opened #33 "ListObjects"
Why this is not working?
It just wont list folder content?
Anyone has this issue?

[2019-07-23 17:52] CodeJunkieio commented on #33
@consigliere23 I haven't had any issues... Perhaps this is a misunderstanding.
DigitalOcean Spaces were made to be S3 compatible, S3 doesn't have folders, so even though you see folders in the DO admin panel what that actually is, is a prefix on objects. So you should get a large list of objects and those who are in "folders" should actually just have prefix of the "folder" name

Hope that helps,

[2019-07-23 17:54] CodeJunkieio commented on #21
@schmidtl4 There doesn't seem to be much support anymore, I'll fork it and let you know once I have something working

[2019-08-21 10:44] Dibbyo456 opened #35 "DoesObjectExist returns true for directory"
[code]

[2019-08-30 11:04] adapana opened #36 "GIF upload Issue"
I uploaded GIF file, file upload successfully done.
But when I download the file from space, it was not GIF. That file becomes static JPEG file.

The file extension was .gif but the animation was gone.

If you have any solution then please share.

[2020-01-02 11:00] tcagkansokmen opened #37 "Upload image from external url?"
Is that possible?

I tried to take image from url

[code]

Bu it send 73bytes of empty file.
How can we make it?

[2020-01-15 11:07] schmidtl4 commented on #30
Thanks for the reply.  I only want to set the content-type metadata for files I'm uploading.  How would I use the code above?  Would I use it instead of the $space->UploadFile or call this after the file is already uploaded.

[2020-01-23 02:36] avinashseth opened #39 "whatever file i'm upload on DO, it is having errors!"
Hi, i'm trying to upload files on DO using this package and everytime, I see file uploaded has error

my code

`
$key = "key";

$secret = "secret";

$space_name = "name";

$region = "region";

$space = new SpacesConnect($key, $secret, $space_name, $region);

$space->UploadFile("my/local/file/path/filename.png", "public", "do_folder/filename.png",$file->getClientMimeType());

`

[2020-02-27 12:56] ridvanaltun commented on #37
İt is not possible.

https://stackoverflow.com/questions/7586533/is-it-possible-to-upload-to-s3-directly-from-url-using-post

[2020-03-06 16:03] ajisu143 opened #40 "SpacesAPIException"
Hi,

I am getting error "Fatal error: Uncaught exception 'SpacesAPIException' with message '{"error":{"message":null,"code":null,"type":null,"http_code":null}}'.Please suggest necessary steps to fix this issue.

[2020-04-22 10:19] edibudimilic commented on #40
I'm having the same problem. Exception is not getting a proper message. Issue is with cURL and my guess it's SSL validation since Space without a CDN doesn't have SSL certificate setup.

[2020-04-22 10:39] ajisu143 commented on #40
This api does not work with new version.i fixed this issue by downloading aws s3 sdk from aws site. check this link "https://help.dreamhost.com/hc/en-us/articles/115002875812-Sample-AWS-PHP-v3-SDK-code".it will help you.

[2020-04-22 11:17] edibudimilic commented on #40
I fixed it manually by editing:

I changed `CURLOPT_SSL_VERIFYHOST` and `CURLOPT_SSL_VERIFYPEER` both to `FALSE` and it works without any exceptions.

[2020-05-02 18:28] schmidtl4 commented on #21
@CodeJunkieio - were you able to get something working?

[2020-05-03 12:28] johncoles commented on #40
Yup had to do this too.

[2020-05-14 20:15] dragonheart90 opened #41 "how to upload image from ionic upload to digital occean"
i am trying to upload image but its not uploading instead it just takes path of image but not blob image is stored in space

[2020-05-15 15:16] Andrej64 commented on #37
It is possible.
$file = file_get_contents($url);
$space->UploadFile($file, "public", $newpath);

[2020-05-15 21:20] schmidtl4 opened #42 "URGENT: Composer install not working"
I consistently get this error when doing a composer require or install:
Update failed (Failed to execute git status --porcelain --untracked-files=no
fatal: unknown index entry format 0x74650000

After replying "yes" to the composer question about reinstalling instead I get:
[RuntimeException]
{and same error as above}

What can be done to get this back up and running
![image](https://user-images.g

[2020-05-16 12:57] schmidtl4 commented on #42
It may be that this has a conflict with another package.  If I use composer and sociallydev/spaces-api is the only thing in the composer.json file, then everything installs fine.  In the scenario above, the spaces-api package was second to last and consistently would not install.  Are there any packages with which there is a known conflict?  Perhaps aws/aws-sdk-php?

[2020-05-17 12:12] fabricioviana opened #43 "GetObject Uncaught exception SignatureDoesNotMatch"
Hello, need some help, please.

 I have a file named "file test.txt".

I can list this file:

[code]

But if I do:

```$file_info = $space->GetObject("file test.txt");```

I got this error:

[code]

Files containing the # character also gave an error.

Could someone help me, please?

Thank you!

[2020-05-20 16:28] ganeshnadar17 opened #44 "Error while download file."
Hello,

Fatal error while downloading file server

$download_file = $path[$data['action']];
$save_as = substr($download_file, strrpos($download_file, '/') + 1);
$space_data = $space->DownloadFile($download_file, $save_as);

<b>Fatal error</b>:  Uncaught TypeError: Argument 1 passed to Aws\Handler\GuzzleV5\GuzzleHandler::Aws\Handler\GuzzleV5\{closure}() must be an instance of Exception, string give

[2020-06-24 20:12] Daxcor69 opened #45 "Errors when setting CORS"
The cors I am setting is:
[code]
I am creating the php array this way:
[code]

Set the policy this way:

`$space->PutCORS($new_policy);`

The error from the sdk is this:
[code]

The output when I echo each stage is:

[code]

[2020-09-26 04:35] juanrdlo opened #46 "Problem function Creating Temporary Links"
hello community,
I have tried to use this function, but it sends me the following error. i have php 7.4

`A PHP Error was encountered
Severity: Notice

Message: Trying to access array offset on value of type null

Filename: Aws/RetryMiddleware.php

Line Number: 75

Backtrace:

File: /usr/share/nginx/html/proyectos/api_prestamos/vendor/sociallydev/spaces-api/aws/Aws/RetryMiddleware.php
Line: 75
Fun

[2020-09-28 02:09] SociallyDev commented on #46
Hey, looks like this wrapper is showing its age when working with AWS'. Give me a day to update this & get back to you.

[2020-09-28 03:22] juanrdlo commented on #46
Thank... I'll be waiting, greetings

[2020-09-28 10:05] SociallyDev commented on #46
Please try the new v2. It's a complete rewrite.
Here's the code that should work for you:
[code]

Check out the new README: https://github.com/SociallyDev/Spaces-API

[2020-09-28 10:08] SociallyDev commented on #45
Sorry for the (Super) late reply. I've been writing the v2. CORS should now work for you with the update. Here's the snippet that should work:

[code]

Check out the new README: https://github.com/SociallyDev/Spaces-API

[2020-09-28 10:09] #45 closed

[2020-09-28 10:10] SociallyDev commented on #44
Hey, sorry for the (Super) late reply. I've been writing the v2. File downloads should be working for you now:
[code]

Check out the new README: https://github.com/SociallyDev/Spaces-API

[2020-09-28 10:10] #44 closed

[2020-09-28 10:16] SociallyDev commented on #21
Hey guys, it's been a couple of years. I hope you guys are doing well. Spaces-API now supports multipart uploads natively. Just upload a file as always, and it'll automatically slice & stream to optimize the uploads!

[code]

Read the new README for more info: https://github.com/SociallyDev/Spaces-API

[2020-09-28 10:16] #21 closed

[2020-09-28 10:18] SociallyDev commented on #33
Hey @consigliere23, it's been a while. In case you still want to know how to list all files within a folder, here's how you do it:

[code]

@CodeJunkieio thanks for helping with so many issues man!

[2020-09-28 10:18] #33 closed

[2020-09-28 10:24] SociallyDev commented on #40
Hello, Spaces-API v2 is a complete rewrite that defaults AWS's error management. This error should no longer happen.
You can read the new README here: https://github.com/SociallyDev/Spaces-API

[2020-09-28 10:24] #40 closed

[2020-09-28 10:26] SociallyDev commented on #37
Hey @tcagkansokmen, sorry for the (Super) late reply. It's not possible to directly upload a file to either S3 or Spaces from a URL. You can, however, download the contents of the image from a URL, and then use Spaces-API to upload that to your Space!

[2020-09-28 10:26] #37 closed

[2020-09-28 10:35] SociallyDev commented on #42
Hey, Spaces-API just went through a major rewrite & this should be working for you now!
Here's how to install Spaces-API v2 via Composer: https://github.com/SociallyDev/Spaces-API#b-the-composer-method.

Also, I'm really sorry I couldn't reply to you sooner. I hope you were able to solve this problem on your own as well!

[2020-09-28 10:35] #42 closed

[2020-09-28 10:37] SociallyDev commented on #39
Hello, Spaces-API recently went through a rewrite & I've made an attempt at squashing all bugs. This should work for you now. Here's how the new upload method works:

[code]

Also, I'm really sorry I couldn't reply to you faster.

[2020-09-28 10:37] #39 closed

[2020-09-28 10:40] SociallyDev commented on #41
Hey, Spaces-API recently went through a rewrite & now it should be easier than ever to upload a file!
Here's an example:
[code]

You can read the README for more info: https://github.com/SociallyDev/Spaces-API

[2020-09-28 10:40] #41 closed

[2020-09-28 10:42] #32 closed

[2020-09-28 10:46] SociallyDev commented on #43
Hello, sorry for the super late reply. I've rewritten Spaces-API and the new Spaces-API handles spaces so you can name your objects anything!
Here's an example:
[code]

[2020-09-28 10:46] #43 closed

[2020-09-28 10:50] SociallyDev commented on #35
Hello, sorry for the super late reply. I've tested this with Spaces-API v2 & it seems that directories don't return as true anymore. Here's an example:
[code]

[2020-09-28 10:50] #35 closed

[2020-09-28 10:55] SociallyDev commented on #36
Hey, I just tried this with the new Spaces-API & it seems that gifs are indeed downloaded as gifs. It could've been a problem with the old version, but it does seem to be working as intended now!

[2020-09-28 10:55] #36 closed

[2020-09-28 10:58] #4 closed

[2020-09-28 11:45] AndrewTemchishen opened #47 "unexpected 'list' (T_LIST), expecting identifier (T_STRING)"
PHP Parse error:  syntax error, unexpected 'list' (T_LIST), expecting identifier (T_STRING) in /.../vendor/sociallydev/spaces-api/spaces.php on line 52

[2020-09-28 11:51] AndrewTemchishen opened #48 "Use releases for better composer experience"
When you change a project, make releases so people can switch between them in composer.
Cause last v2 release can break services which use that lib.

[2020-09-28 11:53] SociallyDev commented on #47
Hello, you should check your copy. I've tested pulling from Composer & using Spaces-API on my own machine and that works fine. I've also tested the code in spaces.php for syntax & it seems to be correct.

[2020-09-28 11:53] #47 closed

[2020-09-28 11:56] AndrewTemchishen commented on #47
For which version of php you tested it? Try on 5.6

[2020-09-28 12:02] SociallyDev commented on #47
Looked around a bit. Looks like old PHP version didn't allow naming a method in a class as list, so I've changed the name & now it's passing on PHP 5.6!

[2020-09-28 12:14] SociallyDev commented on #48
Hey, thanks for the suggestion! I've added releases.
Now the old Spaces-API can be installed via:
`composer require sociallydev/spaces-api:v1`

And the new one can be installed via:
`composer require sociallydev/spaces-api:v2`

[2020-09-28 12:14] #48 closed

[2020-09-28 12:23] AndrewTemchishen commented on #48
Thank you

[2020-09-28 20:04] avtomaha commented on #48
@SociallyDev Thanks a lot for new version

[2020-09-29 20:33] #46 closed

[2020-10-07 13:41] UFO-84 opened #49 "Space size"
Is there any way to get total space used in a space using your API?

[2020-10-08 12:24] SociallyDev commented on #49
Hey,
So there is a way to get the entire Space's storage size. It involves iterating over all the objects that exist in the bucket to get the total size:
[code]

[2020-10-08 14:08] UFO-84 commented on #49
Thanks for the quick reply.

The way you mentioned will do the job but if I have huge objects in the space, it will be a pain.

Anyway, thanks again. I will make a cron/queue process to maintain space size.

[2020-10-08 14:09] #49 closed

[2020-10-08 22:58] adadgio opened #50 "Features missing or not working"
Hi there, I noticied that this did not work: $this->space->privacy("public")

As well, it's not possible to set a public flag on uploadDirectory (and its not possible to set a whole directory public as well)...

I don't think this library is usable without those, but otherwise, i would be great!

[2020-10-08 23:49] SociallyDev commented on #49
Yes, I know. Unfortunately, this is the only method possible because I don't think there is a general object that lets you know the total size of a Space, and DigitalOcean's own API has no references to it either.

Another thing you could do is keep a tally of total size in your own database (Increased whenever you upload an object, decreased whenever you delete one).

[2020-10-09 00:07] SociallyDev commented on #50
Hey,
The correct syntax is:
[code]

A thing to note: By S3's design, changing a Space's privacy will only make it display an XML list of already public objects. Even if a Space is made public, it never affects the objects which are set to be private, they will remain being private till explicitly made public.

As for uploadDirectory, you might notice it is the same as AWS S3's uploadDirectory, you

[2020-10-12 05:57] #50 closed

[2020-10-14 12:50] UFO-84 commented on #30
Hi,

`
                $spaces = Spaces($targetAccount['accessKey'], $targetAccount['secretKey']);
                $storage = $spaces->space($targetAccount['space']['spaceName'], $targetAccount['space']['regionName']);
                $output = $storage->uploadFile($srcFullFilePath, $destinationPath, $privacy);

This works fine. Can you introduce something so we can add metadata while uploading, p

[2020-10-14 13:42] UFO-84 commented on #30
Well, I edited your class, and this works fine, I am posting the method here, if anyone needed ...

    /*
    Uploads a file.
    @$metadata array :Example: $metaData = ['width' => '10','height' => '10'];
    */
    function uploadFile($filePath, $saveAs = "", $privacy = "private", $metaData = [])
    {
        if (empty($saveAs))
        {
            $saveAs = $filePath;
        }
        if ($

[2020-10-19 09:43] adadgio opened #51 "ObjectURL sometimes incoherent"
When I upload videos, I randomly get two different kinds of ObjectURL in the ::$my_space->uploadFile result:

`https://med-cdn.ams3.digitaloceanspaces.com/myurl.mp4`

And sometimes something like: `ams3.digitaloceanspaces.com/med-cdn/myurl.mp4` (without https, but file is still uploaded)

The video is still correctly uploaded. Have someone experienced it ? Not sure if this might ba an issue of thi

[2020-10-19 09:53] SociallyDev commented on #51
Hey @adadgio ,
Technically, both URLs are correct (S3 supports bucket names as a URL parameter instead of a CNAME subdomain).
This does seem to come directly from either DigitalOcean or AWS's API.
You can see how Spaces-API hands this request off here:
https://github.com/SociallyDev/Spaces-API/blob/28fbd13ef647dbbf70ade274d1fd86fb4919c8ee/spaces.php#L169
It just returns an optimized version of the

[2020-10-19 10:47] adadgio commented on #51
Yep, that's what i though as well. I am building the URL myself as a workaround. But it's somewhat strange that it would give a different constructed URL (especially without the "https" part), and really incoherent from their API...

Thanks for the reply anyways!

[2020-10-20 08:26] #51 closed

[2020-10-28 15:39] Chamberlainfrancis opened #52 "I can't figure how to upload an image"
I can't figure out how to upload an image using this Spaces-API, I have tried everything I could and  its not working.  After a successful upload, its always showing **Content-Type** as **“application/octet-stream”** in space.

Below is 2 instances - I have tried uploading like so

`$file = $_FILES['file']['tmp_name'][$i];`
`$bucket->uploadFile($file, $object_name);`

but Content-Type is “applicat

[2020-10-28 16:08] avtomaha commented on #52
See [Setting metadata](https://github.com/SociallyDev/Spaces-API/issues/30) issue.

[2020-11-04 06:45] return-tosleep opened #53 "Cleanup pending multipart uploads older than 24 hours"
Ref: https://rclone.org/s3/#cleanup

Any plans on adding something similar? This is a very helpful feature.

[2020-11-26 11:07] SillyPhp commented on #30
hey could you help me regarding this @SociallyDev i am not able to set Content-Disposition meta tags while uploading file however i use the way @UFO-84 provided but the issue is it set the meta as custom key as "x-amz-meta-<Content-Disposition>" bu it want to set "Content-Disposition" with some value as it is, not as custom key like x-amz etc help about it

[2020-11-26 11:09] SillyPhp opened #54 "Setting meta tags as main tags not custom tags"
hey could you help me regarding this @SociallyDev i am not able to set Content-Disposition meta tags while uploading file however i use the way @UFO-84 provided in other thread but the issue is it set the meta as custom key as "x-amz-meta-" bu it want to set "Content-Disposition" with some value as it is, not as custom key like x-amz etc help about it

[2020-11-26 15:44] UFO-84 commented on #54
I don't think you can custom headers without x-amz-* except they provided. I even asked DO's community to add "Expires" header. It didn't work either.

[2020-11-30 07:46] ashikhassan commented on #30
Dear @SociallyDev

Unable to set 'ContentType' => $mime_type

`
require_once("vendor/autoload.php");
if (!defined('spaceAccessKey')) define('spaceAccessKey', '');
if (!defined('spaceSecretKey')) define('spaceSecretKey', '');
if (!defined('spaceName')) define('spaceName', '');
if (!defined('spaceEndpoint')) define('spaceEndpoint', 'fra1');

$my_space = Spaces(spaceAccessKey, spaceSecretKey)->space(

[2020-12-06 17:16] dashpilot commented on #30
@ashikhassan  ContentType is not part of the metadata, but it is part of the "params" array. This is how I solved it:

[code]
example usage:

[code]
Hope that helps!

[2021-01-21 07:03] ersaurabh101 opened #58 "How can i upload base64 to jpg or video ?"

[2021-01-24 21:10] hichamtaoufikallah commented on #54
@SillyPhp If you still looking on how to make it works then here is how:
[code]
the [hint](https://github.com/SociallyDev/Spaces-API/issues/30#issuecomment-498835995) from @SociallyDev was enough :)

[2021-01-26 01:58] jasperf opened #59 "Rate Limiting"
Just bumped into this package and I am really excited. We tried using Laravel with DigitalOcean Spaces but we ran into rate limiting issues deleting, listing and get HEAD data real quick hitting 503s and 413s. Was wondering if this package deals well with these exceptions and perhaps offers better listing, caching options to deal with DigitalOcean in a  way that does not cause

[code]

and

[code]

[2021-02-16 11:46] wildshark opened #60 "Fatal error: on line 195"
I get an error when I try it on a xampp running on a local PC

Fatal error: Uncaught exception 'Aws\S3\Exception\S3Exception' with message 'Error executing "ListObjects" on "https://drive7.fra1.digitaloceanspaces.com/?encoding-type=url"; AWS HTTP error: Client error: `GET https://drive7.fra1.digitaloceanspaces.com/?encoding-type=url` resulted in a `403 Forbidden` response: <?xml version="1.0" enco

[2021-04-06 17:42] kareemzok opened #62 "Uploaded image have a zero size"
I updated the library to the new one.
When I uploaded an image, I saw it on the space with zero size

See attached image. What went wrong? it was working on old API

I pass base64_decode() to the first param. I m not sure if its doable

![image](https://user-images.githubusercontent.com/6444765/113755100-98976500-9718-11eb-92c9-b4544ac26a7e.png)

Please advice

[2021-04-13 10:43] aneeshtclt opened #63 "Memory Leakage issue for large file upload"

[2021-04-20 18:01] #52 closed

[2021-05-04 19:56] gitleif opened #64 "SignatureDoesNotMatch"
I get this errormessage when trying to upload file, using the code

`$space->uploadFile("G:\folder\file.jpg", $Path . "g54djDex1g/oa4cjefp8lq.jpg" , "public");`

Caught exception: Error executing "PutObject" on "https://XXXXX.ams3.digitaloceanspaces.com/g54djDex1g/oa4cjefp8lq.jpg"; AWS HTTP error: Client error: `PUT https://XXXXX.ams3.digitaloceanspaces.com/g54djDex1g/oa4cjefp8lq.jpg` resulted in

[2021-05-06 06:47] emineinnovations opened #65 "RejectedPromise.php on line 16"
**I am getting following error when trying to upload file. Can anyone help me on this?**

[code]

[2021-06-06 17:57] teebuphilip commented on #64
@gitleif - did you ever find a resolution - I am having the same issue?
my case is super wierd in that i have the code in 2 places, one side works and the other side gives me this error.
i even regenerated keys as well ?

[2021-07-24 12:59] schmidtl4 opened #66 "List directories only functionality"
What's the best way to get a listing only of folders.  I know that folders aren't really folders but prefixes to the file name.  That said, I'd like to be able to see just the folder names for a particular space.  Any way to do that?

[2021-08-04 17:56] SociallyDev commented on #66
Hey,
There are a couple ways that I can think of to sort of achieve folder-like functionality:

- You could store folders in a separate database at the time of upload & refer to that database when you want folders.

- You can iterate over all objects, explode() the ones containing a `/` using the char `/`, and then join n - 1 parts back to form a folder & sub-folder structure.

[2021-08-04 18:14] SociallyDev commented on #58
Hey,
Sorry for the super late reply.
You probably solved this a long time ago, but in case someone else also runs into the same issue, here's an explanation.

You probably want to decode the file first: ```base64_decode()```, and then upload it.

[2021-08-04 18:14] #58 closed

[2021-08-04 18:17] SociallyDev commented on #54
Thanks for your help @hichamtaoufikallah!

[2021-08-04 18:17] #54 closed

[2021-08-04 18:20] SociallyDev commented on #53
Hey,
That's an awesome idea but doing this would require some sort of a cron task, which I think would be beyond the scope of this simple wrapper.
I'll add it to the ideas list though!

[2021-08-04 18:20] #53 closed

[2021-08-05 07:45] MacroMan commented on #60
I have been unable to replicate this issue, so I am closing this issue. Please raise another should you continue to have problems.

[2021-08-05 07:45] #60 closed

[2021-08-05 07:46] MacroMan commented on #62
Sorry it's taken so long to pick this up.

Do you still have the code around to replicate this issue?

[2021-08-05 07:58] kareemzok commented on #62
Hello

Thanks for replying but the issue is resolved.
We had problem assigining the mimetype but it works now.

[2021-08-05 07:58] #62 closed

[2021-08-05 08:55] MacroMan commented on #59
I am open to this idea.

I will investigate the feasibility of implementing this.

[2021-08-05 08:56] MacroMan commented on #63
Sorry for the time take to pick this up.

Can you provide more information so I can duplicate the issue?

[2021-08-05 09:20] MacroMan commented on #64
I haven't been able to replicate this issue.

Can you provide more information, such as PHP version, full log output, a copy of the file being uploaded, and a full copy of the relavent code?

[2021-08-05 10:12] MacroMan commented on #65
I have been unable to replicate this issue.

Can you provide any more information?

[2021-08-06 14:50] schmidtl4 commented on #66
OK thanks - not exactly what I'd hoped for but thanks for the suggestions.
Les

  Les Schmidt
Simplicity, Clarity, Focus
Founder & Executive Director
BRIIA <https://briia.io/>
WE ACCELERATE INNOVATION

Why the Tri-Valley? See this
<http://www.bayareaeconomy.org/report/tri-valley-rising-2018/>!
LinkedIn BRIIA <https://www.linkedin.com/company/briia.io/> | Twitter BRIIA
<https://twitter.com/briia_io

[2021-08-06 18:00] MacroMan commented on #66
This could be a nice enhancement actually.

I'm reopening this a feature request

[2021-08-10 08:01] MacroMan commented on #65
New major version release, so not fixing.

[2021-08-10 08:01] #65 closed

[2021-08-10 08:01] #64 closed

[2021-08-10 08:02] #63 closed

[2021-09-02 06:36] divyeshJoshiG commented on #66
Please tell how to create a new folder in space, please tell api with example. Thanks

[2021-09-21 09:53] makanSukros opened #67 "[Bug]: Uncaught exception 'Aws\S3\Exception\S3Exception' with message 'Error executing "ListObjectsV2""
### What happened?

Use function listFiles() return error
Fatal error: Uncaught exception 'Aws\S3\Exception\S3Exception' with message 'Error executing "ListObjectsV2"

### Version

2.0.1

### What version of PHP are you using?

_No response_

### Relevant log output

_No response_

[2021-09-23 16:21] MacroMan commented on #67
Thanks for reporting. The unit tests are passing and I've manually tested the listFiles() method, which worked for me.

Please add some code that reproduces the issue and let me know what version of PHP you are using.

[2021-09-23 16:30] MacroMan commented on #66
You can't do that directly. Spaces doesn't support having an empty folder/directory.
You can upload text/file with the path, which will "create" the directory on demand:
`$space->uploadText('Lorem ipsum', 'folder-name/remote-filename.txt');`
If all files are removed, the folder/directory will be removed too.

[2021-10-01 23:30] PhamMinhKha opened #69 "Space do not exist"
### What happened?

How to connect space. I get error with space do not exist
`
ini_set('display_errors', 1);
        $accessKey = "KRFF3CFROMLHWJxxxx";
        $secretKey = "aajUBtoXwMDa2w2ObWiGmi7VULxKzDFYBEXTxxxxx";
        $spaceName = "images";
        $region = "sgp1";
        // Connect to a space
        $spaces = new Spaces($accessKey, $secretKey);
        $space = $spaces->space($spaceNa

[2021-10-02 00:12] PhamMinhKha commented on #69
i use this config and working
// Connect to a space
        $spaces = new Spaces($accessKey, $secretKey, $region);

[2021-10-02 00:12] #69 closed

[2021-10-04 08:26] MacroMan commented on #69
Please generate new access keys. You have posted yours publicly in this bug.

[2021-10-04 08:27] MacroMan commented on #67
Closing due to inactivity

[2021-10-04 08:27] #67 closed

[2021-10-05 21:15] romperalph opened #70 "request.CRITICAL: Uncaught PHP Exception SpacesAPI\Exceptions\SpaceDoesntExistException"
### What happened?

Hi,

I'm moving from GCS to Digital Ocean Space and Spaces-API helps me a lot! :-) In production, it works great, but in the unit testing, it shows that exception:

**request.CRITICAL: Uncaught PHP Exception SpacesAPI\Exceptions\SpaceDoesntExistException**

It exists, and I enabled the CORS for *.

Do I need anything else?

Thanks,

Rafa

### Version

3.2.0

### What version of

[2021-10-08 07:04] romperalph commented on #70
Confirmed! The problem was 15 services with the same constructor. Now I have only one, and it works well!
And the testing too! ;-)
Rafa

[2021-10-08 07:04] #70 closed

[2021-10-26 17:45] schmidtl4 opened #71 "[Bug]: Delete a folder/directory works inconsistently"
### What happened?

I know that folders (aka Directories) are just a construct in Digital Ocean, but I guess we've all come to expect certain behaviors from our interactions with other folder structures.  This is one of those cases.

Using  ````$space->( digitalOceanPath )-> delete()```` it is possible to delete an EMPTY Digital Ocean folder, cleanly and definitively. All good.

However using the

[2021-10-28 13:35] #71 closed, assigned to MacroMan

[2022-01-19 21:56] thewisejun opened #72 "[Bug]: Can't connect to Digital Ocean Space"
### What happened?

There was a problem where I couldn't connect to a digital ocean space

And for the people who face this issue in the future

Please make sure you guys select the correct region that your space is using

`    public function __construct(string $accessKey, string $secretKey, string $region = "ams3", string $host = "digitaloceanspaces.com")
`

 $region = "ams3"

change your region

[2022-01-19 21:56] #72 closed

[2022-01-30 23:28] didyouexpectthat opened #73 "[Feature]: Rename/move"
### Description

Is it possible to implement rename/move files? I am trying to clean up the CDN which has improperly cased files, but DO is very slow. I seem to get awesome response using this API and hoping I can use it to rename the files.

Thank you.

[2022-02-08 17:13] MacroMan commented on #73
I think that is a good idea. I will implement that in the next round of development

[2022-02-09 09:05] MacroMan commented on #73
I have released v3.4.0 which includes a file move method. Use it like so:
`$fle->move('new-filename.txt');`

[2022-02-09 09:05] #73 closed

[2022-05-04 14:53] juhchamp opened #76 "[Feature]: Get CDN edge file URL"
### Description

Hi, when using CDN to serve content I noticed that there is no option to retrieve url from cdn edge, could you implement this?
Currently getURL() returns the origin URL of the image, and I would like to retrieve the URL of the cdn edge, for example:
`<spacename>.<region>.cdn.digitaloceanspaces.com` instead of `<spacename>.<region>.digitaloceanspaces.com`

[2022-05-11 08:00] MacroMan commented on #76
I'm not sure on the feasibility of this, but I will look into it and put this in the backlog if it's possible.

[2022-06-19 17:48] kohle opened #79 "What should the relative file path be for delete()?"
### What happened?

I'm attempting to delete a file, but keep getting a FileDoesntExistException. This is the line of code:

`$space->file('/user/profile/' . $existing_image . '.png')->delete();`

`$existing_image` represents the file name without an extension.

I have verified that the file path I am entering does work when going to it directly in the browser. I've tried a few different combinati

[2022-06-21 09:54] MacroMan commented on #79
Try listing the files out using `$space->listFiles('user/profile/')` and comparing that to your generated filename (`/user/profile/723beb107c171cce56f6c2e80a8ceb3d.png`).
See https://github.com/SociallyDev/Spaces-API/blob/master/docs/Examples.md#listing-files

Prefixing with a slash or using your space name in the filename won't work and is invalid.

[2022-06-25 23:12] kohle commented on #79
Thank you, not sure what was going on before I started from scratch and verified the path using listFiles(). Everything is working now!

[2022-06-25 23:12] #79 closed

[2022-06-28 21:00] MacroMan opened #81 "[Depreciation]: strlen(): Passing null to parameter #1 ($string) of type string is deprecated"
### What happened?

PHP Deprecated:  `strlen()`: Passing `null` to parameter #1 ($string) of type string is deprecated in `vendor/aws/aws-sdk-php/src/S3/S3Client.php` on line 432

### Version

3.5.0

### What version of PHP are you using?

_No response_

### Relevant log output

_No response_

[2022-08-23 09:15] didyouexpectthat opened #82 "[Feature]: Purge CDN"
### Description

Hello again.
It would be nice if I could purge the CDN. Sometimes, a file is made public after an attempt at the edge URL, which prevents the file from being accessible immediately after setting public. After purging the file, it should be immediately accessible (something I currently have to login and go to Spaces and find the file to purge until timeout). Thanks in advance for y

[2022-09-20 06:04] shabbirhasan opened #83 "Class 'Spacesupload\SpacesAPI\Spaces' not found[Bug]:"
### What happened?

A PHP Error was encountered
Severity: Error

Message: Class 'Spacesupload\SpacesAPI\Spaces' not found

Filename: controllers/Spacefileupload.php

Line Number: 14

Backtrace:

### Version

3.0.0

### What version of PHP are you using?

_No response_

### Relevant log output

_No response_

[2022-09-20 08:12] shabbirhasan commented on #83
This is my folder name : Spacesupload move all code in this folder

[2022-09-20 08:13] MacroMan commented on #83
Yes, but how are you importing `SpacesAPI\Spaces`?

[2022-09-20 08:14] shabbirhasan commented on #83
Okay I move SpacesAPI\Spaces in back my folder

[2022-09-20 08:17] shabbirhasan commented on #83
Class 'SpacesAPI\Spaces' not found in

Getting same error

[2022-09-20 08:18] MacroMan commented on #83
Are you not using composer? This library is namespaced and intended to be used with composer, so I'm not able to offer any more support if you're including this manually

[2022-09-20 08:19] shabbirhasan commented on #83
Okay

[2022-09-20 08:21] #83 closed

[2022-11-06 07:18] muhammedc opened #84 "[Bug]: GetSigned URL Performance Issue compared to V2 of API"
### What happened?

After migrating to v3.5.0 from v2, the getsignedURL function performance has degraded significantly compared to v2, when used in a loop and getting the url for a bunch of stored files.

Prior in v2, this would take about 2-5 seconds to obtain and generate signed urls for about 30 files... now after migrating to v3.5.0, it takes about 15-20 seconds to generate the same...

Any i

[2022-11-09 09:20] MacroMan commented on #84
We made changes to way file data is fetched from Spaces, and I know why it's taking you longer. I don't have a solution right now, but I will look into supporting what you need.

[2022-11-09 12:27] muhammedc commented on #84
Many thanks for letting me know. Is there a temporary hack to speedup performance, or should I revert to v2 until such time a solution or fix is available?

[2022-11-09 12:32] MacroMan commented on #84
Can you post the code loop you're using?

[2022-11-11 09:43] MacroMan commented on #84
How are you retrieving `$filesResult`? If you used `$my_space->listFiles()` then you shouldn't need to do `$my_Space->file($f1['FILENAME'])->getsignedURL("15 minutes"))` but just `$f1->->getsignedURL("15 minutes"))`

[2022-11-11 09:59] MacroMan commented on #84
I have just pushed an update. Upgrade to 3.6.0 and you can now pass a second arg to `Space::file(string $filename, bool $validate)` like so: `$my_Space->file($f1['FILENAME'], false)` which will disable checking if the file exists. This should speed up the call. Let me know if that has worked for you

[2022-11-11 11:39] muhammedc commented on #84
Hi - $fileResults - Thats an internal db query to get the list.

[2022-11-11 11:40] muhammedc commented on #84
Thanks - I will check and revert as soon as I am back from leave :-)

[2022-11-15 22:24] alexbudin opened #85 "[Bug]: This only works with region us-east-1 ?"
### What happened?

You can clearly see from your Spaces class that the region is hardcoded to us-east-1, even though you allow for region the constructor, you actually use it for the endpoint URL and not the actual region S3 client instantiation.

Am i missing something ? Because i cannot get it to work with any region except spaces/buckets created in the us-east-1

<img width="1099" alt="image"

[2022-11-16 10:12] MacroMan commented on #85
Hi, thanks for reporting. Pretty embarrassing that I missed this. Feel free to open a PR

[2022-11-16 11:35] MacroMan commented on #84
Have you had a chance to see if this has fixed your problem?

[2022-11-16 11:38] muhammedc commented on #84
Hi, Not yet - Its scheduled for next weeks build test. Although I am gonna
try to schedule some time before - Will let you know ASAP. Sorry for the
delay - We are approaching build freeze and am running around trying to
tick off each TO DO Item before freeze.

On Wed, Nov 16, 2022 at 1:35 PM David Wakelin ***@***.***>
wrote:

[2022-11-20 15:24] muhammedc commented on #84
I have tested it - There is a definite improvement - but still slow compared to v2.0.1.
Current benchmarks with 28 urls:
- v2.0.1 = 1 second
- v3.6.0 = 4 seconds